.container {
  display: flex;
  flex: 1;
  color: var(--color-day);
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  min-height: 33px;
  min-width: 33px;
}

.disabled {
  display: flex;
  flex: 1;
  color: var(--color-day);
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.4;
  cursor: default;
  min-height: 33px;
  min-width: 33px;
}

.empty {
  display: flex;
  flex: 1;
  min-height: 33px;
  min-width: 33px;
}

.container:hover {
  opacity: 0.7;
}

.current {
  color: var(--color-current);
}

.event {
  width: 4px;
  height: 4px;

  position: absolute;
  right: 4px;
  top: 4px;
  /* border: 1px solid var(--color-white); */
  border-radius: 4px;
}

.start {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background: var(--color-primary);
  color: var(--color-white);
}

.end {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--color-primary);
  color: var(--color-white);
}

.range {
  background: var(--color-range);
  color: var(--color-current);
}
