.container {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.navigation {
  display: flex;
  gap: 8px;
}

.icon {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.icon svg {
  fill: var(--color-gray);
}

.disabled {
  display: flex;
  gap: 8px;
  opacity: 0.2;
}

.icon:hover {
  scale: 1.1;
}

.months {
  display: flex;
  flex-direction: column;
  flex: 2;
}
